header{
    position: absolute;
    max-width: 60%;
    top: 2em;
    left: 2em;
    border-bottom: 1px dashed #fff;
  }
  
  main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    h2{
      font-size: 2em;
      display: flex-row;
      color: #000;
    }
  
    .searchForm{
      // im ugly, make me and my siblings pretty
      input{
        width: 300px
      }
      button{
        width: auto;
      }
    }
  
    .results{
      display: flex;
      align-items: center;
      justify-content: center;
      
      //im not responsive. Make me and my siblings work on all devices

      article{
        margin: 1em;
        background: #fff;
        border-radius: 1em;
        padding: 1.2em;
        p{
          color: #000;
        }
        h3{
          color: #000;
          font-family: 'Roboto Condensed', sans-serif;
          text-transform: uppercase;
          margin-bottom: 0.3em;
        }
        img{
          margin-bottom: 1em;
          //I may have a variable aspect ratio. Make me responsive watever my size is.
        }
        a{
          padding: 0.4em 0.6em;
          background: #EA4A66;
          color: #fff;
          text-decoration: none;
          //I dont have hover/focus effect. Give me some feedback for users.

        }
      }
    }
  
  }